<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>我的計算機</title>
</head>
<body>
  <div id="app">
    <div class="container">
      <div class="flexColumn display">
        <div class="text">{{temp}}</div>
        <input type="text" v-model="inputValue" class="input" id="input">
      </div>
      <div class="flex">
        <div class="panel">
          <div class="">
            <div class="">
              <button class="btn" @click="reset()">AC</button>
              <button class="btn">+/-</button>
              <button class="btn"  @click="clickOperator('%')">
                <i class="fas fa-percentage"></i>
              </button>
              <button class="btn" @click="clickOperator('/')">
                <i class="fas fa-divide"></i>
              </button>
            </div>
          </div>
          <div class="">
            <div class="">
              <button class="btn" @click="click('7')">7</button>
              <button class="btn" @click="click('8')">8</button>
              <button class="btn" @click="click('9')">9</button>
              <button class="btn" @click="clickOperator('*')">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="">
            <div class="">
              <button class="btn" @click="click('4')">4</button>
              <button class="btn" @click="click('5')">5</button>
              <button class="btn" @click="click('6')">6</button>
              <button class="btn" @click="clickOperator('-')">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="">
            <div class="">
              <button class="btn" @click="click('1')">1</button>
              <button class="btn" @click="click('2')">2</button>
              <button class="btn" @click="click('3')">3</button>
              <button class="btn" @click="clickOperator('+')">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="">
            <div class="">
              <button class="btn btn2x" @click="click('0')">0</button>
              <button class="btn" @click="click('.')">.</button>
              <button class="btn" @click="compute()">=</button>
            </div>
          </div>
        </div>
        <div class="record">
          <div class="flex alignCenter justifyBetween">
            <p class="">歷史紀錄（僅保留最新10筆）</p>
            <div class="">
              <button class="btn-clear" @click="clear()">清空</button>
            </div>
          </div>
          <ul>
            <li v-if="history.length === 0" class="">現在無紀錄</li>
            <li v-for="(item, key) in history" :key="key" class="">
              {{ item }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.7/vue.global.min.js" integrity="sha512-0f6iilc2IY7yvw4OZwKs1rHIm0xr7zx6XmaQJfu5zpYhbtpjCXbBt0ZzYOwXWkm9XQ2ru9qEwnEfjmN7xx2Lsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="script.js"></script>
  <!-- <script>
    Vue.createApp({
      data() {
        return {
          result: 0,
          temp: 0,
          number: 0,
          num1: 0,
          num2: 0,
          cacheData: 0,
          operator: '+',
          history: [],
        }
      },
      methods: {
        click(num) {
          if(this.result === '0') {
            this.result = ''
          }
          this.result += num
          this.temp = this.result
        },
        compute() {
          switch (this.operator) {
            case '+': 
              this.result = this.num1 + this.num2
              break
            case '-':
              this.result = this.num1 - this.num2
              break
            case '*':
              this.result = this.num1 * this.num2
              break
            case '/':
              this.result = this.num1 / this.num2
              break
            default:break
          }
          // display in history
          this.history.push(`${this.num1} ${this.operator} ${this.num2} = ${this.result}`)
          // maintain 10 records
          if (this.history.length > 10) {
            this.history.splice(0, 1)
          }
          // storage in local
          localStorage.setItem("MWmEWpv", JSON.stringify(this.history))

          this.reset()
        },
        reset() {
          this.num1 = ''
          this.num2 = ''
          this.operator = '+'
        },
        // let empty history
        clear() {
          this.history = []
          localStorage.clear()
        }
      },
      mounted() {
        this.history = JSON.parse(localStorage.getItem("MWmEWpv")) || []
      }
    }).mount('#app')
  </script> -->
</body>
</html>